    body {
      margin:0px;
    }
    a {
      color: blue;
    }
    h1 {
      font-size: 60px;
      text-align: center;
      border-bottom:1px solid gray;
      margin:0px;
      padding:20px;
    }
    h2 {
      text-align: left;
      font-size: 20px;
      
    }
    ol {
      border-right: 1px solid gray;
      width: 100px;
      margin:0;
      padding:20px;
    }
    #grid {
      display:grid;
      grid-template-columns: 150px 1fr;
    }
    #grid ol {
      padding-left: 33px;
    }
    #grid #article {
      padding-left: 23px;
    }

    @media(max-width:900px) {
      #grid {
        display: block;
      }
      ol {
        border-right: none;
      }
      h1 {
        border-bottom: none;
      }
    }
